:root {
  --primary-color: #191919;
  --white: #ffffff;
  --sidebar-primary: #353e47;
  --sidebar-primary-hover: #353e47;
  --sidebar-background: #070e13;
  --background: #f1f3ff;
  --text-link: #ffffff;
  --headline: #cbd1d8;
  --expand-button: #353e47;
  --logout: #fa7575;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 16px;
  height: 100%;
  background-color: rgba(55.25, 50.88, 50.88, 0.67);
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Este es la clase del div que contiene la imagen del logo de la carrera */
.gradient-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  /*background: linear-gradient(to bottom right, #ff7e5f, #feb47b);*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

div.gradient-container img {
  opacity: 0.5;
}
nav.collapsed .sidebar-top {
  display: none;
}

.topbar {
  height: 40px;
  width: 100%;
  background-color: #d9d9d9;
  /*colordefondo*/
  position: fixed;
  top: 0;
  border-radius: 0px 60px 39px 45px;
  z-index: 3002;
  /*Aseguraquelabarrasuperiorestéporencimadelcontenido*/
  -webkit-border-radius: 0px 60px 39px 45px;
  -moz-border-radius: 0px 60px 39px 45px;
  -ms-border-radius: 0px 60px 39px 45px;
  -o-border-radius: 0px 60px 39px 45px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  align-items: center; /* Centra verticalmente los elementos */
}

header {
  font-family: Arial, Helvetica, sans-serif;
}

div.cont {
  z-index: 2000;
  margin-left: 21px;
}
div.green {
  
margin-right: 20px;
  z-index: 2000;
}

div.green {
  margin-left: 300px;
}


/*.barrasuperior {
   
    padding-top: 6px;
  }*/

.sidebar {
  position: sticky;
  margin-top: 37px;
  top: 0;
  left: 0;
  min-height: 53.75rem;
  height: 100%;
  padding: 1rem 0px;
  border-radius: 1rem;
  max-width: 18rem;
  display: flex;
  color: var(--white);
  flex-direction: column;
  background-color: var(--sidebar-background);
  transition: max-width 0.1s ease-in-out;
  z-index: 3001;
}

nav.sidebar.collapsed {
  max-width: 5rem;
  display: flex;
  align-items: center;
  z-index: 30001;
}

nav.collapsed .hide {
  position: absolute;
  display: none;
}

/*? search wrapper */
.search__wrapper {
  padding: 0 1rem;
  position: relative;
}

.search__wrapper input {
  background-color: var(--background);
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  padding-left: 2rem;
  flex-grow: 1;
  outline: none;
  border: none;
}

.search__wrapper svg {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 1.625rem;
  transform: translateY(-50%);
  pointer-events: none;
  right: 1.5rem;
}

nav.collapsed .search__wrapper svg {
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  stroke: var(--sidebar-primary-hover);
}

.search__wrapper input::-webkit-input-placeholder {
  color: var(--sidebar-primary-hover);
  white-space: nowrap;
}

nav.collapsed .search__wrapper input {
  max-width: 2.5rem;
}

nav.collapsed .search__wrapper input::-webkit-input-placeholder {
  color: transparent;
}

/*? sidebar top */

.sidebar-top-wrapper {
  display: flex;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 4rem;
  padding-bottom: 1rem;
}

nav.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.collapsed .topbar {
  display: flex;
  padding-top: 6px;
  height: 40px;
  width: 100%;
  background-color: #d9d9d9; /*  color de fondo  */
  position: fixed;
  top: 0;
  z-index: 1000; /* Asegura que la barra superior esté por encima del contenido */
}

.logo__wrapper {
  margin-top: -0.25rem;
  display: flex;
  align-items: center;
  color: var(--text-link);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.35rem;
  gap: 0.5rem;
  padding: 0 1rem;
}

.logo-small {
  height: 48px;
  width: 48px;
  overflow: hidden;
  object-fit: cover;
}

/*? menu links */
.sidebar-links {
  margin-top: 1rem;
  width: 100%;
}

.sidebar-links h2 {
  margin-left: 1rem;
  color: var(--headline);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
  animation: fadeIn 0.2s ease-in-out;
}

nav.collapsed h2 {
  display: none;
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
  display: flex;
  column-gap: 0.5rem;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sidebar-links li {
  color: var(--text-link);
}

nav.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li svg {
  stroke: var(--text-link);
  width: 1;
  height: 1.75rem;
  min-width: 1.75rem;
}

.sidebar-links li a:hover {
  background-color: var(--sidebar-primary-hover);
}

.sidebar-links li a {
  color: var(--text-link);
  flex-grow: 1;
  padding: 0 1rem;
  font-size: 1.25rem;
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a .link {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 2.125rem;
  width: 2.125rem;
}

.sidebar-links .active:hover {
  background-color: var(--sidebar-primary-hover);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(--sidebar-primary-hover);
  color: var(--text-link);
}

.sidebar-links .active svg {
  stroke: var(--text-link);
}

/* ?tooltip */
.tooltip {
  position: relative;
}

.tooltip .tooltip__content::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -0.6rem;
  margin-top: -0.3125rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  z-index: 1;
  left: 5.625rem;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}

/*? profile part */
.sidebar__profile {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-direction: row;
  padding: 0 1rem;
  color: var(--text-link);
  overflow-x: hidden;
  min-height: 2.6125rem;
}

.avatar__wrapper {
  position: relative;
  display: flex;
}

.avatar {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.avatar__name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.user-name {
  font-weight: 600;
  text-align: left;
  color: var(--text-link);
  animation: fadeIn 0.2s ease-in-out;
}

.email {
  color: var(--text-link);
  font-size: 0.8125rem;
  animation: fadeIn 0.2s ease-in-out;
}

.logout {
  animation: fadeIn 0.2s ease-in-out;
  margin-left: auto;
}

.logout svg {
  color: var(--logout);
}

nav.collapsed .logout {
  display: none;
}

/*? Expand button */

.expand-btn {
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--expand-button);
  z-index: 2;
  right: -1.125rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.expand-btn svg {
  transform: rotate(-180deg);
  stroke: var(--white);
  width: 1.25rem;
  height: 1.25rem;
}

nav.collapsed .expand-btn svg {
  transform: rotate(-360deg);
}

nav.collapsed .topbar {
  display: none;
}

.bottom-links {
  margin-top: auto;
}

@keyframes fadeIn {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}
@media (max-width: 896px) {
  .gradient-container {
    display: none;
  }
}


/*estilo de la venta para crear denuncias */

.VentanaDenuncias {
  width: 2000px;
  height: 55px;
  left: 0px;
  margin-left: 60px;
  top: 0px;
  position: absolute;
  background: #F5F5F5   ;
  z-index: 3000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 15px;
  /*background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
  */display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.navSuperiorObjetos {
  position: absolute;
  top: 0;
  width: 100%;
  /*Cubretodoelanchodeldivpadre*/height: 50px;
  background-color:#4f3e3eda;
  /*Cambiaelcolordefondosegúnseanecesario*/color: white;
  /*Cambiaelcolordeltextosegúnseanecesario*/display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px 15px 0px 0px ;
  -webkit-border-radius: 15px 15px 0px 0px ;
  -moz-border-radius: 15px 15px 0px 0px ;
  -ms-border-radius: 15px 15px 0px 0px ;
  -o-border-radius: 15px 15px 0px 0px ;
}


/*-------Esto es para hacerlo en java scrip , solo tendra este eslilo el objto seleccionado en la barra de navegacion---------*/
.contenedorObjetos.active {
  width: 194.50px;
  height: 35px;
  background: rgba(169.31, 169.29, 170, 0.85);
  border-radius: 25px;
  border: 2px black solid;
  
}

.contenedorObjetos {
  width: 194.50px;
  height: 35px;
  background: #D2D2DBD9;
  border-radius: 25px;
  border: 2px rgba(0, 0, 0, 0.081) solid;
  font-size: 19px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texOrientativo {
  left: 50px;
   top: 64px; 
   position: absolute; 
   color: rgb(17, 152, 29); 
   font-size: 16px; 
   font-family: Inter;
    font-weight: 400; 
    word-wrap: break-word;
    z-index: 3001;
}

.Id {
  position: absolute;
  top: 66px;
  left: 723px;
  right: 32;
  bottom: 647px;
  color: rgba(55.25, 50.88, 50.88, 0.85); 
  font-size: 19px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word;
}
.intID {
  position: absolute;
  width: 294px; 
  height: 32px;
   background: white; 
   border-radius: 25px; 
   border: 2.50px rgba(0, 0, 0, 0) solid;
  top: 62px;
  left: 756px;
  right: 32;
  bottom: 647px;
}

.full-width-input {
  width: calc(100% - 10px); /* Resta 10px para ajustarse al borde */
  height: 100%;
  padding: 0 5px; /* Agrega relleno para el texto dentro del input */
  border: none; /* Quita el borde del input */
  border-radius: 25px; /* Mismo radio que el div */
  outline: none; /* Quita el contorno predeterminado */
}

.NombreCompleto {
  position: absolute;
  top: 116px;
  left: 28px;
  right: 32;
  bottom: 647px;
  color: black;
  font-size: 21px;
  font-family: 
  Inter; font-weight: 400;
  word-wrap: break-word;
}

.molde {
  width: 294px;
  height: 32px; 
  background: white; 
  border-radius: 25px; 
  border: 2.50px rgba(0, 0, 0, 0) solid;
}

.PrimerNombre {
  position: absolute;
  top: 176px;
  left: 45.5px;
  right: 324.4;
  bottom: 541px;
}

.PrimerApellido {
  position: absolute;
  top: 176px;
  left: 400.4px;
  right: 324.4;
  bottom: 541px;
}

.moldeshort {
  width: 222px; 
  height: 32px; 
  background: white; 
  border-radius: 25px; 
  border: 2.50px rgba(0, 0, 0, 0) solid;
}



.genero {
  display: flex;
  position: absolute;
  top: 176px;
  left: 824.5px;
  right: 45.5px;
  bottom: 541px;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black; /* Ajusta el tamaño del triángulo modificando el valor aquí */
}
.full-width-input2 {
  width: calc(100% - 20px); /* Resta 10px para ajustarse al borde */
  height: 100%;
  border: none;
  
}


.SegundoNombre {
  position: absolute;
  top: 230px;
  left: 45.5px;
  right: 45.5px;
  bottom: 541px;
}
.SegundoApellido{
  position: absolute;
  top: 230px;
  left: 400.4px;
  right: 45.5px;
  bottom: 541px;

}
.edad {
  position: absolute;
  top: 230px;
  left: 824.5px;
  right: 45.5px;
  bottom: 541px;
}


.Direccion {
  position: absolute;
  top: 296px;
  left: 28px;
  right: 32;
  bottom: 647px;
  color: black;
  font-size: 21px;
  font-family: 
  Inter; font-weight: 400;
  word-wrap: break-word;
}

.moldemidel {
  width: 232px; 
  height: 32px; 
  background: white; 
  border-radius: 25px; 
  border: 2.50px rgba(0, 0, 0, 0) solid;
}

.Departamento {
  display: flex;
  position: absolute;
  top: 336px;
  left: 45.5px;
  right: 45.5px;
  bottom: 541px;
}
.Municipio {
  display: flex;
  position: absolute;
  top: 336px;
  left: 400.4px;
  right: 45.5px;
  bottom: 541px;
}
.Codigo {
  position: absolute;
  top: 336px;
  left: 824.5px;
  right: 45.5px;
  bottom: 541px;
  
}

.Aldea{
  display: flex;
  position: absolute;
  top: 390px;
  left: 45.5px;
  right: 45.5px;
  bottom: 541px;
}
.Bloque {
  display: flex;
  position: absolute;
  top: 390px;
  left: 400.4px;
  right: 45.5px;
  bottom: 541px;
}
.NumCasa {
  position: absolute;
  top: 390px;
  left: 824.5px;
  right: 45.5px;
  bottom: 541px;
}




/*botones de siguiente , nuevo y guardar */

.eventosbotones {
  width: 126px;
  height: 29px;
  background: #6CE143;
  border-radius: 25px;
  border: 2.50px rgba(0, 0, 0, 0) solid;
  color: white;
  font-size: 21px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding-left: 6.5px;
}

.Siguiente {
  position: absolute;
  top: 464px;
  left: 920.5px;
  right: 45.5px;
  bottom: 541px;
}
.Guardar {
  position: absolute;
  top: 464px;
  left: 764.5px;
  right: 45.5px;
  bottom: 541px;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*-----------Boton que solo aparece cunado se ha presionado el de guardar --------*/

.Nuevo {
  position: absolute;
  top: 464px;
  left: 764.5px;
  right: 45.5px;
  bottom: 541px;
}